TOKEN = "{int}:{str}"  # Telegram bot token
SERVER = "{str}"  # IMAP server
LOGIN = "{str}"
HELP = "{str}"
STOP = "{str}"
COMMANDS = {
    "start": "{str}",
    "help": "{str}",
    "stop": "{str}",
}
